body {
    font-family: 'Oswald', sans-serif;
}

.logo {
    font-family: 'Bubblegum Sans', cursive;
    font-weight: 700;
}

nav {
    background-color: #660066;
}
.imagenfondo {
    position: relative;
    text-align: center;
    
    padding-left: 0;
    padding-right: 0;
}

.imagenprincipal {
    background-repeat: no-repeat;
    height: 85%;
    width: 100%;
    }

    .card-img-overlay {
        margin-top: 680px;
        color: #F39C12;
    }

.yosoy {
    font-size: 60px;
    font-weight: 200;  
}
hr {
    border: 2px solid #ffffff;
    width: 9rem;
    border-color: #660066;
   
}

.nombre {
    font-size: 80px;
    font-weight: 700;
    
}

.tituloarticulo {
    margin-top: 70px;
    font-size: 25px;
    font-weight: 400;

}

.im1 {
    font-size: 100px;
    color: #660066;
}
.exp {
    font-size: 25px;
    font-weight: 400;
}

.fecha {
    font-size: 25px;
    font-weight: 200;
}

.cv {
    background-color: #660066;
}

.corto {
    color: #ffffff;
    width: 90px;
}

@media (max-width: 768px){
    .miexperiencia {
        color: #F39C12;
    }
}

.mistrabajos {
    border-radius: 0;
    border: none;
    font-size: 14px;
    background-color: #ffffff;
    color: #373a3c;
    width: 33,33333333%;
    height: auto;
}

.card {
    text-align: justify;
    align-items: center;
    font-size: 14px;
}

h6 {
    font-size: 24px;
    font-weight: 900;
}

.contacto {
    font-size: 52px;
    font-weight: 700;
}

.conocer {
    font-size: 20px;
    font-weight: 400;
}

.pie {
    background-color: #660066;
}
.pie p {
    font-size: 30px;
    font-weight: 700;
    
}

i {
    color: #ffffff;
    font-size: 50px;
}